<!-- form to adjust quantity in the cart -->
<form 
    class="form update-form" 
    action="{% url 'adjust_bag' item.item_id %}" 
    method="POST"
>
{% csrf_token %}
    
    <!-- Button trigger Quantity modal -->
    <input 
        type="submit" 
        class="remove-item btn btn-sm btn-danger text-white" 
        id="remove_{{ item.item_id }}"
        value="Remove"
    >

    <!-- Quantity Modal -->
    
    <div 
        class="modal fade" id="id_qty_{{ item.item_id }}" 
        tabindex="-1" role="dialog" 
        aria-labelledby="adjustcartLabel" aria-hidden="true"
    >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-secondary" id="adjustcartLabel">
                        Please enter order quantity:
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-secondary">
                    <p>Quantity:</p>

                    <input 
                        type="number" name="quantity" 
                        value="{{ item.quantity }}" min="0" max="99" 
                        data-item_id="{{ item.item_id }}"
                        id="id_qty_{{ item.item_id }}"
                        class="col-4 text-center"
                    >

                </div>
                
                <div class="modal-footer ">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <a href="{% url 'products' %}" class="text-secondary">Close</a>
                    </button>
                    <input type="submit" class="update-link btn btn-info text-white" value="Update">
                    <input 
                        type="submit" 
                        class="removeitem btn btn-danger text-white" 
                        id="remove_{{ item.item_id }}"
                        value="Remove"
                    >
                    <!-- <a 
                        class="remove-item btn btn-danger text-white"
                        id="remove_{{ item.item_id }}"
                    >Remove</a> -->
                </div>
            </div>
        </div>
    </div>
    
</form>

{% block postloadjs %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = '/bag/remove/${itemId}/';
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}