{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">

    {% include 'home/home_nav.html' %}

    <div class="album py-5 bg-black">

      <div class="row">
        <div class="col-12">
            <hr>
            <h4 >Add Store Event</h4>
            <p class="text-muted text-right">Logged in as <span class="text-info">{{ user }}</span></p>
            <hr>
        </div>
      </div>

      <div class="container">
        <div class="row">
          
          <div class="col-12">
            <form method="POST" action="{% url 'add_event' %}" class="mb-2 add_event-form" enctype="multipart/form-data">
              {% csrf_token %}
              
              {{ form.title | as_crispy_field }}
              {{ form.abstract | as_crispy_field }}

              <div class="text-left text-dark">
                <textarea id="summernote" name="body"></textarea>
              </div>

              <div class="form-row mt-3">
                
                <div class="col-6 ">
                  {{ form.status | as_crispy_field }}
                </div>

                <div class="col-6 align-self-center">

                  <a href="#" class="btn btn-outline-black rounded-0 text-white">
                    <span class="icon mr-2">
                      <i class="fa-solid fa-xmark"></i>
                    </span>
                    <span class="font-weight-bold">Cancel</span>
                  </a>
    
                  <button type="submit" class="btn btn-black rounded-0 text-white update-link">
                    <span class="font-weight-bold">Add Event</span>
                      <span class="icon ml-2">
                        <i class="fa-solid fa-plus"></i>
                    </span>
                  </button>
                   
                </div>
            
              </div>
          
            </form>

          </div> 

        </div>

      </div>

    </div>

    {% include 'home/home_footer.html' %}

  </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
      $('#summernote').summernote({
        tabsize: 2,
        height: 500,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['fontname', ['fontname']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'undo','redo','help']],
        ],
      });
    </script>
{% endblock %}