{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    {% include 'home/home_nav.html' %}

    <div class="album py-5 bg-black">
      <div class="container">
        <div class="row">
          
          <div class="col">
            
            <div class="list-group">
              {% for event in event_list %}

              <div class="list-group-item list-group-item-action">

                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1 text-info">{{ event.title }}</h5>
                  
                </div>

                <p class="my-3">{{event.abstract}}</p>
                
                <p>

                  <a class="btn">
                    <i class="fa-regular fa-eye mr-1 text-info"></i>
                    <span class="text-info">Views {{event.views}}</span>
                  </a>

                  <a class="btn">
                    <i class="far fa-heart mr-1 text-info"></i>
                    <span class="text-info">Like {{event.likes}}</span>
                  </a>

                  <button class="btn" type="button" data-toggle="modal" data-target=".modal-{{event.id}}">
                    <i class="fa-regular fa-comment-dots mr-1 text-info"></i>
                    <span class="text-info">Comment</span>
                  </button>

                  <button class="btn" type="button" data-toggle="modal" data-target=".modal-{{event.id}}">
                    <i class="fa-solid fa-up-right-from-square mr-1 text-info"></i>
                    <span class="text-info">Details</span>
                  </button>
                  
                </p>                  
                <p><small class="text-muted">Created on {{event.created_time}}</small></p>
                
              </div>
              
              <!-- modal -->
              <div class="modal fade modal-{{event.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                  <div class="modal-content">
                    <span class="text-dark">{{event.body}}</span>
                    
                  </div>
                </div>
              </div>

              <div class="my-4"></div>

              {% endfor %}

            </div>
          
          </div>
        </div>

      </div>

    </div>

    {% include 'home/home_footer.html' %}

  </div>

</body>

{% endblock %}