
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Event Details</title>

    </head>

    <body>
        <div class="container">

            <div class="jumbotron p-4 p-md-5 mt-5 text-dark rounded">
                <div class="col-md-12 px-0">
                    <h1 class="font-italic">{{event.title}}</h1>
                    <p class="text-muted text-center">{{event.abstract}}</p>
                </div>
            </div>

        </div>
        
        <main role="main" class="container mb-5">
            <div class="row justify-content-center">
                <div class="col-md-10 text-left text-dark">

                    <div>
                        <p class="text-right mx-2 my-2">
                            Created on {{event.created_time}}
                        </p>

                        <p>{{event.body|safe}}</p>
                    </div>

                </div>


            </div>
            <div class="row mx-5">
                <p class="text-left mx-2 my-2">
                   
                    <a class="btn">
                        <i class="fa-regular fa-eye mr-1 text-info"></i>
                        <span class="text-info">Views {{event.views}}</span>
                    </a>
    
                    <a class="btn">
                        <i class="far fa-heart mr-1 text-info"></i>
                        <span class="text-info">Like {{event.likes}}</span>
                    </a>
                    {% if request.user.is_superuser %}
                        <a class="btn" href= "{% url 'edit_event' event.id %}">
                            <i class="fa-solid fa-pen-to-square text-primary"></i>
                            <span class="text-primary">Edit</span>
                        </a>
        
                        <a class="btn" href="{% url 'delete_event' event.id %}">
                            <i class="fa-solid fa-trash-can text-danger"></i>
                            <span class="text-danger">Delete</span>
                        </a>
                    {% endif %}
                </p>
                

            </div>

        </main>

    </body>
</html>
