{% extends "base.html" %}
{% load static %}

{% block content %}

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">

    {% include 'home/home_nav.html' %}
    

    <div class="album py-5 bg-black">

      <div class="row">
        <div class="col-12">
            <hr>
            <h4 >Store Events</h4>
            <p class="text-muted text-right">Logged in as <span class="text-info">{{ user }}</span></p>
            <hr>
        </div>
      </div>

      <div class="container">
        <div class="row">
          
          <div class="col">
            {% if event_list %}
              <!-- with store events -->
              <div class="list-group">
                {% for event in event_list %}

                <div class="list-group-item list-group-item-action">

                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-info">{{ event.title }}</h5>
                    
                  </div>

                  <p class="my-3">{{event.abstract}}</p>
                  
                  <p>

                    <a class="btn">
                      <i class="fa-regular fa-eye mr-1 text-info"></i>
                      <span class="text-info">Views {{event.views}}</span>
                    </a>

                    <a class="btn" 
                      href="{% url 'event_details' event.id  %}"
                    >
                      <i class="fa-regular fa-comment-dots mr-1 text-info"></i>
                      <span class="text-info">Comment</span>
                    </a>

                    <a class="btn" 
                      href="{% url 'event_details' event.id  %}"
                    >
                      <i class="fa-solid fa-up-right-from-square mr-1 text-info"></i>
                      <span class="text-info">Read More</span>
                    </a>
                    
                  </p>

                  <p><small class="text-muted">Created on {{event.created_time}}</small></p>

                  <div class="justify-content-between align-items-center">

                    {% if request.user.is_superuser %}
                      
                      <a class="btn btn-outline-info" href="{% url 'edit_event' event.id %}">Edit</a>
                      <a class="btn btn-outline-danger delete" href="{% url 'delete_event' event.id %}">Delete</a>

                    {% endif %}

                  </div>
                  
                </div>
                
                <div class="my-4"></div>

                {% endfor %}

              </div>

            {% else %}
              <!-- without store events -->
              <div class="mb-5">
                <img class="col-12" 
                  src="https://res.cloudinary.com/dqj8itdfg/image/upload/v1669063017/CNE/no-upcoming-events-banner_hobqbm.svg"
                >
              </div>    

            {% endif %}

            <!-- pagination -->
            <nav>
              <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; First</a>
                  </li>
                  
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                  </li>
                {% endif %}

                <span class="current">
                  <li class="page-item">
                    <a class="page-link" href="#">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </a>
                  </li>
                </span>

                {% if page_obj.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
                {% endif %}
              </ul>
            </nav>
            <!-- pagination -->

          </div>
        </div>

      </div>

    </div>

    {% include 'home/home_footer.html' %}

  </div>

{% endblock %}