{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">

        <div class="row justify-content-center p-4">
            <div class="col-8">
                {% include 'home/home_nav.html' %} 
            </div>
        </div>
            

        <div class=" p-4 p-md-5 text-white bg-dark">
            <div class="col-md-12 px-0">
                <h1 class="font-italic">{{event_details.title}}</h1>
                <p class="text-muted text-center">{{event_details.abstract}}</p>

                <div class="col-md-12 text-left text-white">

                    <div>
                        <p class="text-right mx-2 my-2">
                            Created on {{event_details.created_time}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="blog-post bg-white text-dark p-4 p-md-5 ">
            <p>{{event_details.body|safe}}</p>
            
            <div class="row mx-5 ">
                <p class="text-left mx-2 my-2">
                    
                    {% if request.user.is_superuser %}
                        <a class="btn" href= "{% url 'edit_event' event_details.id %}">
                            <i class="fa-solid fa-pen-to-square text-primary"></i>
                            <span class="text-primary">Edit</span>
                        </a>
        
                        <a class="btn" href="{% url 'delete_event' event_details.id %}">
                            <i class="fa-solid fa-trash-can text-danger"></i>
                            <span class="text-danger">Delete</span>
                        </a>
                    {% endif %}
                </p>
            </div>
            
            <hr>
            
            {% if user.is_authenticated %}
                <div class="row justify-content-center">
                    <div class="col-8">
                        <form 
                            action="{% url 'post_comment' event_details.id %}" 
                            method="POST"
                            class="add-comment-form"
                        >
                        {% csrf_token %}
                            <div class="form-group">
                                <label for="body">
                                    <strong class="text-dark" >
                                        Leave a comment:
                                    </strong>
                                </label>

                                <textarea 
                                    type="text" 
                                    class="form-control" 
                                    id="body" 
                                    name="body" 
                                    rows="2"
                                >
                                    
                                </textarea>
                            </div>
                        
                        <button type="submit" class="btn btn-outline-info">Submit</button> 
                   
                        </form>

                    </div>

                </div>
                <br>
            {% else %}
                <br>
                <h5 class="row justify-content-center">
                    Please 
                    <a href="{% url 'account_login' %}" class="text-info mx-2"> Login </a> 
                    to leave a comment 
                </h5>
                <br>
            {% endif %}

            <h5 class="text-dark">There are {{ comments.count }} comments:</h5>
            <div>
                {% for comment in comment_list %}
                    <hr>
                    <p>
                        <strong class="text-info">
                            {{ comment.user }}
                        </strong> 
                        <span>
                            {{ comment.created_time|date:"d-M-Y H:i:s" }}
                        </span> wrote:
                    </p>

                    <p>
                        {{ comment.body }}
                    </p>
                    
                    {% if request.user.is_superuser %}
                        <a class="btn delete" href="{% url 'delete_comment' comment.id %}">
                            <i class="fa-solid fa-trash-can text-danger"></i>
                            <span class="text-danger">Delete</span>
                        </a>
                    {% endif %}

                {% endfor %}
            </div>

            <!-- pagination -->
            <nav>
                <ul class="pagination justify-content-center">
                    {% if comment_list.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">&laquo; First</a>
                    </li>
                    
                    <li class="page-item">
                        <a class="page-link" href="?page={{ comment_list.previous_page_number }}">Previous</a>
                    </li>
                    {% endif %}
    
                    <span class="current">
                    <li class="page-item">
                        <a class="page-link" href="#">
                            Page {{ comment_list.number }} of {{ comment_list.paginator.num_pages }}.
                        </a>
                    </li>
                    </span>
    
                    {% if comment_list.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ comment_list.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ comment_list.paginator.num_pages }}">Last &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
            <!-- pagination -->
        </div>

        <div class="text-right mt-5 mb-2">
            
            {% if request.user.is_superuser %}
                <a href="{% url 'draft_events' %}" class="btn btn-outline-black rounded-0 text-white">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="font-weight-bold">Back to Draft Events</span>
                </a>
            {% endif %}

            <a href="{% url 'events' %}"  class="btn btn-black rounded-0 text-white">
                <span class="font-weight-bold">Back to Store Events</span>
                <span class="icon">
                    <i class="fas fa-chevron-right"></i>
                </span>
            </a>

        </div>

        <div class="mt-5">
            {% include 'home/home_footer.html' %}
        </div>

    </div>


{% endblock %}