{% extends "base.html" %}
{% load static %}

{% block content %}

    {% include 'home/home_nav.html' %}
    {% for event in event_list %}
    <!-- modal -->
    <div class="modal fade" id="modal-{{event.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
        
            <body>
                <div class="container">
        
                    <div class="jumbotron p-4 p-md-5 mt-5 text-dark rounded">
                        <div class="col-md-12 px-0">
                            <h1 class="font-italic">{{event.title}}</h1>
                            <p class="text-muted text-center">{{event.abstract}}</p>
                        </div>
                    </div>
        
                </div>
                
                <main role="main" class="container mb-5">
                    <div class="row justify-content-center">
                        <div class="col-md-10 text-left text-dark">
        
                            <div>
                                <p class="text-right mx-2 my-2">
                                    Created on {{event.created_time}}
                                </p>
        
                                <p>{{event.body|safe}}</p>
                            </div>
        
                        </div>
        
        
                    </div>
        
                    <div class="row mx-5">
                        <p class="text-left mx-2 my-2">
                           
                            <a class="btn">
                                <i class="fa-regular fa-eye mr-1 text-info"></i>
                                <span class="text-info">Views {{event.views}}</span>
                            </a>
            
                            <a class="btn">
                                <i class="far fa-heart mr-1 text-info"></i>
                                <span class="text-info">Like {{event.likes}}</span>
                            </a>
        
                            {% if request.user.is_superuser %}
                            <a class="btn" href= "{% url 'edit_event' event.id %}">
                                <i class="fa-solid fa-pen-to-square text-primary"></i>
                                <span class="text-primary">Edit</span>
                            </a>
            
                            <a class="btn" href="{% url 'delete_event' event.id %}">
                                <i class="fa-solid fa-trash-can text-danger"></i>
                                <span class="text-danger">Delete</span>
                            </a>
                            {% endif %}
                        </p>
                    </div>
        
                    <hr>
                    {% if user.is_authenticated %}
                        <div class="row justify-content-center">
                            <div class="col-8">
                                <form 
                                    action="{% url 'post_comment' event.id %}" 
                                    method="POST"
                                    class="add-comment-form"
                                >
                                {% csrf_token %}
                                    <div class="form-group">
                                        <label for="body">
                                            <strong class="text-dark" >
                                                Leave a comment:
                                            </strong>
                                        </label>
        
                                        <textarea 
                                            type="text" 
                                            class="form-control" 
                                            id="body" 
                                            name="body" 
                                            rows="2"
                                        >
                                            
                                        </textarea>
                                    </div>
                                
                                    <button type="submit" class="btn btn-outline-info" id="openModal" >
                                        Submit
                                    </button> 
                                    
                                    <!-- <input type="hidden" name="comment_from_redirect_url" value="'{{ request.path }}"> -->
                                </form>
        
                                <!-- <a class="btn btn-outline-info submit-comment">Submit</a>  -->
                            </div>
        
                        </div>
                        <br>
                    {% else %}
                        <br>
                        <h5 class="row justify-content-center">
                            Please <a href="{% url 'account/login.html' %}">login</a> to leave a comment 
                        </h5>
                        <br>
                    {% endif %}
                
                
                    <h5 class="text-dark">There are {{ comments.count }} comments</h5>
                    <div>
                        <p class="text-dark">testing</p>
                        {% for comment in comments_list %}
                            <hr>
                            <p>
                                <strong style="color: pink">
                                    {{ comment.user }}
                                </strong> 于 
                                <span style="color: green">
                                    {{ comment.created|date:"Y-m-d H:i:s" }}
                                </span> wrote:
                            </p>
                            <pre style="font-family: inherit; font-size: 1em;">
                            {{ comment.body }}</pre>
                        {% endfor %}
                    </div>
        
                </main>
        
            </body>

        </div>
    </div>
    </div>
    {% endfor %}
    {% include 'home/home_footer.html' %}


{% endblock %}
<!-- 
{% block postloadjs %}
<script type="text/javascript">
    
    // $('#openModal').click(function(e){
    //     $('#modal-{event.id}').modal('show');
    // })

    // $('.submit-comment').click(function(e){
    //     var form = $(this).prev('.add-comment-form')
    //     form.submit();
    // }).then(

    //     function(){
    //         $("#Mymodal").click(
    //             function(){
    //                 $(".modal-{event_id}").modal('show');
    //             }
    //         )
    //     }

        
    // )

    // $(document).ready(
    //     function(){
    //         document.getElementById("openModal").onclick = function(){
    //             $('#modal-{event.id}').modal('show');
    //         }
    //     }
    // )

</script>
{% endblock %} -->
