{% extends "base.html" %}
{% load static %}

{% block content %}
<body class="text-center">
    <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <div class="row justify-content-center p-4">
            <div class="col-8">
                {% include 'home/home_nav.html' %} 
            </div>
        </div>
            

        <div class=" p-4 p-md-5 text-white bg-dark">
            <div class="col-md-12 px-0">
                <h1 class="font-italic">{{event_details.title}}</h1>
                <p class="text-muted text-center">{{event_details.abstract}}</p>

                <div class="col-md-12 text-left text-white">

                    <div>
                        <p class="text-right mx-2 my-2">
                            Created on {{event_details.created_time}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="blog-post bg-white text-dark p-4 p-md-5 ">
            <p>{{event_details.body|safe}}</p>

            <div class="row mx-5 ">
                <p class="text-left mx-2 my-2">
                   
                    <a class="btn">
                        <i class="fa-regular fa-eye mr-1 text-info"></i>
                        <span class="text-info">Views {{event.views}}</span>
                    </a>
    
                    <a class="btn">
                        <i class="far fa-heart mr-1 text-info"></i>
                        <span class="text-info">Like {{event.likes}}</span>
                    </a>
                    
                    {% if request.user.is_superuser %}
                        <a class="btn" href= "{% url 'edit_event' event_details.id %}">
                            <i class="fa-solid fa-pen-to-square text-primary"></i>
                            <span class="text-primary">Edit</span>
                        </a>
        
                        <a class="btn" href="{% url 'delete_event' event_details.id %}">
                            <i class="fa-solid fa-trash-can text-danger"></i>
                            <span class="text-danger">Delete</span>
                        </a>
                    {% endif %}
                </p>
            </div>

            <hr>
            
            {% if user.is_authenticated %}
                <div class="row justify-content-center">
                    <div class="col-8">
                        <form 
                            action="{% url 'post_comment' event_details.id %}" 
                            method="POST"
                            class="add-comment-form"
                        >
                        {% csrf_token %}
                            <div class="form-group">
                                <label for="body">
                                    <strong class="text-dark" >
                                        Leave a comment:
                                    </strong>
                                </label>

                                <textarea 
                                    type="text" 
                                    class="form-control" 
                                    id="body" 
                                    name="body" 
                                    rows="2"
                                >
                                    
                                </textarea>
                            </div>
                        
                        <button type="submit" class="btn btn-outline-info">Submit</button> 
                   
                        </form>

                    </div>

                </div>
                <br>
            {% else %}
                <br>
                <h5 class="row justify-content-center">
                    Please <a href="{% url 'account/login.html' %}">login</a> to leave a comment 
                </h5>
                <br>
            {% endif %}

            <h5 class="text-dark">There are {{ comments.count }} comments:</h5>
            <div>
                {% for comment in comments %}
                    <hr>
                    <p>
                        <span class="text-info">
                            {{ comment.user }}
                        </span> 
                        <span>
                            {{ comment.created_time|date:"d-M-Y H:i:s" }}
                        </span> wrote:
                    </p>
                    <p>
                        {{ comment.body }}
                    </p>
                {% endfor %}
            </div>

        </div>

        <div class="mt-5">
            {% include 'home/home_footer.html' %}
        </div>

    </div>

</body>

{% endblock %}