<!-- body for the site -->
<main role="main" class="inner cover bg-text py-5">
    <h2 class="cover-heading">Chinese Embroidery</h2>
    <p class="line-space">
        Embroidery has been popular in China for thousands of years. 
        Most of the Chinese embroideries are made of silk. 
        It is commonly made by hand, especially for very sophisticated design.
    </p>

    <p class="lead">
        <a href="{% url 'products' %}" class="btn btn-outline-light  mt-3">Shop Now</a>
    </p>
    
</main>