<!-- main structure for the site -->
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<style>
    body {
        background: 
            url('https://res.cloudinary.com/dqj8itdfg/image/upload/v1664144956/flower_black_bkg_v2_d6zjws.jpg')
            no-repeat center center fixed
        ;
    }
</style>
{% endblock %}

{% block content %}

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">

        {% include 'home/home_nav.html' %}
        {% include 'home/home_body.html' %}
        {% include 'home/home_footer.html' %}

    </div>


{% endblock %}