<header class="masthead mb-auto">
    <div class="container-fluid inner">
        <h2 class="masthead-brand logo-font">CN Embroidery</h2>
        <nav class="nav nav-masthead justify-content-center">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link navbar-brand" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-brand" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-brand" href="#">Contact</a>
                </li>

                <!-- Nav Search form -->
                <form class="d-flex input-group w-auto">
                    <input
                        type="search"
                        class="form-control"
                        placeholder="Type query"
                        aria-label="Search"
                    />
                    <button
                        class="btn btn-outline-white"
                        type="button"
                        data-mdb-ripple-color="dark"
                    >
                        Search
                    </button>
                </form>
                <!-- Nav Search form -->
            </ul>
        </nav>
    </div>
</header>



<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <h2 class="logo-font">CN Embroidery</h2>
                </a>
                <button 
                    class="navbar-toggler" 
                    type="button" 
                    data-toggle="collapse" 
                    data-target="#navbarsExample07" 
                    aria-controls="navbarsExample07" 
                    aria-expanded="false" 
                    aria-label="Toggle navigation"
                >
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a 
                            class="nav-link dropdown-toggle" 
                            href="#" id="dropdown07" 
                            data-toggle="dropdown" 
                            aria-haspopup="true" 
                            aria-expanded="false"
                        >My Account</a>

                        <div class="dropdown-menu" aria-labelledby="dropdown07">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <!-- nav search form -->
                            <form class="form-inline my-2 my-md-0">
                                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                            </form>
                            <!-- nav search form -->
                        </div>
                    </li>
                </ul>



                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="inner cover">
        <h1 class="cover-heading">Cover your page.</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
        <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
    </footer>
</div>



{% block extra_css %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
{% endblock %}


.logo-font {
    font-family: 'Pacifico', cursive;
}

background: url('media/flower-black-bkg.jpeg')no-repeat center center fixed;