<!-- product page for the site -->
{% extends "base.html" %}
{% load static %}

{% block content %}
<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

      {% include 'home/home_nav.html' %}

      <div class="album py-5 bg-black">
        <div class="container">
          <div class="row">
            
            <div class="col">
              {% for product in products %}
              <div class="card mb-4 shadow-sm">
                {% if product.image %}
                  <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                  </a>
                {% else %}
                  <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no-image-available.png" alt="{{ product.name }}">
                  </a>
                {% endif %}

                <div class="card-body">
                  <h5 class="card-text text-secondary">{{ product.name }}</h5>
                  <p class="card-text text-secondary">
                    {% if product.category %}
                      <a class="text-secondary" href="{% url 'products' %}?category={{ product.category.name }}">
                        {{ product.category.friendly_name }} |
                      </a>
                    {% endif %}
                    Size {{ product.size }} |
                    € {{ product.price }}
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">
                        <a 
                          href="{% url 'product_detail' product.id %}"
                          class="text-secondary"
                        >Details</a>
                      </button>

                      {% include 'products/add_item.html' %} 
                    </div>
                  </div>
                </div>

              </div>
              {% endfor %}
            </div>
            
          </div>
        </div>
      </div>

      {% include 'home/home_footer.html' %}

    </div>
</body>

{% endblock %}